.header{
    width : 600px;
    margin : 0 auto;
    background-color : green;
    height : 60px;
}
 
.header_titre {
    color : white;
    text-align : center;
    margin-bottom : -20px;
    font-size : 28px;
}
 
body {
    margin : 0;
}
 
.taches_input {
    width : 600px;
    margin : 0 auto;
    margin-top : 40px;
    display : grid;
    grid-template-columns:  8fr 2fr;
}
 
#inserer {
    height : 45px;
}
 
#envoyer {
    background-color : green;
    height : 45px;
}
 
 
.taches {
    width : 600px;
    border: 1px solid green;
    margin : 0 auto;
    margin-top : 30px;
    border-collapse : collapse
}
 
th {
    border: 1px solid green;
    padding : 10px;
}
 
td {
    border : 1px solid green;
    text-align : center;
    padding : 10px;
}
 
.suppr {
    color : red;
    text-decoration : none;
 
}
 
.suppr:hover {
    color : red;
    text-decoration : none;
}
